In [ ]:
List
tuple
string
Dictionary

In [6]:
# we are splitting
# the output inthe form list
str1='hai how are you'
l1=str1.split()
l1

['hai', 'how', 'are', 'you']

In [7]:
# Now we have list of elements are there
# we want to join
l1

['hai', 'how', 'are', 'you']

In [12]:
' '.join(l1)

'hai how are you'

In [14]:
s=''
for i in l1:
    s=s+i
s

'haihowareyou'

In [15]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]

# Ramesh age is 20
# Suresh age is 25
# Sathish age is 30
for i in range(len(names)):
    print(names[i],age[i])

Ramesh 20
Suresh 25
Sathish 30

$zip$

In [21]:
#for i in names :  i = Rames  i=sure  i= sath
#for i in age   :  i   25       30
for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [23]:
num1,num2=10,20
print(num1)
print(num2)

10
20

In [19]:
def avg(n1,n2,n3):
    return(n1+n2+n3, (n1+n2+n3)/3)

o1,o2=avg(10,20,30)
o1
o2

60
20.0

In [ ]:
num1,num2=10,20
o1,o2=avg(10,20,30)
i,j in zip(names,age)

In [ ]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]

If both are together  why two lists ===== Dictionary

In [ ]:
{<key>:<value>}

In [24]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
d1

# Ramesh
# Suresh
# Sathish are keys

# 20  25   30 are values

# key:value pair together

{'Ramesh': 20, 'Suresh': 25, 'Sathish': 30}

In [25]:
type(d1)

dict

In [ ]:
how can we distinguish between 
lists, 
tuple, 
set, and 
dictionary?

In [26]:
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
d2

{20: 'Ramesh', 25: 'Suresh', 30: 'Sathish'}

In [27]:
d3={20:20}
d3

{20: 20}

In [34]:
d4={'$':'30'}
d4

{'$': '30'}

In [ ]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
d3={20:20}
d4={'$':'30'}

In [ ]:
d5={$:'30'}   # Fail

# spl cahracters should not be a key

In [37]:
d6={'30':$} 
d6

SyntaxError: invalid syntax (3816049834.py, line 1)

In [35]:
d7={'names':['R','S','A']}
d7
# List can be value

{'names': ['R', 'S', 'A']}

In [36]:
d8={['R','S','A']:'names'}
d8

# List can not be a key

TypeError: unhashable type: 'list'

In [38]:
d9={('R','S','A'):'names'}
d9

{('R', 'S', 'A'): 'names'}

In [39]:
d10={'names':('R','S','A')}
d10

{'names': ('R', 'S', 'A')}

In [40]:
d11={('I','N','D'):('R','S','A')}
d11

{('I', 'N', 'D'): ('R', 'S', 'A')}

In [41]:
d={'Fruites':'Apple'}
d12={"Names":d}
d12

{'Names': {'Fruites': 'Apple'}}

In [42]:
d={'Fruites':'Apple'}
d13={d:'names'}
d13

TypeError: unhashable type: 'dict'

In [ ]:
# dictionary and list can not be represent as keys

In [ ]:
################## Pass ##################
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
d3={20:20}
d4={'$':'30'}
d5={'names':['I','N','D']}
d6={'names':('I','N','D')}
d7={('I','N','D'):'names'}
d8={"Names":{'Fruites':'Apple'}}

In [ ]:
############### Fail ###################
d9={$:'30'}
d10={['I','N','D']:'names'}
d11={{'Fruites':'Apple'}:"Names"}

In [45]:
d3={True:True}
d3

{True: True}

In [46]:
d1={"Ramesh":20,"Ramesh":25}
d1

# Duplicate keys are not allowed

{'Ramesh': 25}

In [47]:
d2={"Ramesh":20,"Suresh":20}
d2
# Duplicate values are allowed

{'Ramesh': 20, 'Suresh': 20}

- max

- min

- len

- sum

**Watch only keys**

In [48]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
max(d1)

# Are you seeing keys
# Are you seeing values

'Suresh'

In [50]:
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
max(d2)

30

In [ ]:
d2={20:"Ramesh",'Suresh':30} # Fail

In [ ]:
max([25,30,35])  # 35
max(['A','B','C']) # 'c'
max([25,'A'])  # error

In [51]:
d2={20:"Ramesh",'Suresh':30}
max(d2)

TypeError: '>' not supported between instances of 'str' and 'int'

In [52]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
min(d1)

'Ramesh'

In [53]:
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
min(d2)

20

In [54]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
len(d1)

3

In [55]:
sorted(d1)
#

['Ramesh', 'Sathish', 'Suresh']

In [57]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
for i in reversed(d1):
    print(i)

Sathish
Suresh
Ramesh

In [58]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
sum(d1)

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [59]:
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
sum(d2)

75

In [61]:
l1=['Ramesh','Suresh','Sathish']
l2=[20,25,30]

In [62]:
sum(l2)
sum(l1)  # fail

75

In [ ]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
sum(d1)  # Error
max(d1)  # Sure
min(d1)  # Rame
len(d1)  # 3

In [ ]:
d2={20:"Ramesh",25:"Suresh",30:"Sathish"}
sum(d2) # 75
max(d1) # 30
min(d1) # 20
len(d1) # 3

In [ ]:
d2={20:"Ramesh",'Suresh':30}
max(d2) # E
min(d2) # E
sum(d2) # E
len(d2) # 2

In [ ]:
- how to read

- different ways to read

- type / min/ max/ len/sum/sorted/reversed

$conactenation$

In [1]:
d1={"Ramesh":20}
d2={'Suresh':30}
d1+d2

TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

In [2]:
d1*2 # d1+d1

TypeError: unsupported operand type(s) for *: 'dict' and 'int'

$in$

In [8]:
# Keys are important
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
# Keys are important
'Ramesh' in d1     # True
20 in d1           # False

False

In [5]:
for i in d1:
    print(i)

Ramesh
Suresh
Sathish

$index$

In [16]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
# Normal index will not work for dictionary
#d1[0]  # Error

# If you want retrive the value, by using key we can get
d1['Ramesh']
d1['Suresh']
d1['Sathish'] 

d1[i]

for i in d1:
    print(i,d1[i])

Ramesh 20
Suresh 25
Sathish 30

In [17]:
names=['Ramesh','Suresh','Sathish']
age=[20,25,30]
for i,j in zip(names,age):
    print(f"{i} age is {j}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [19]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}
for i in d1:
    print(f"{i} age is {d1[i]}")

Ramesh age is 20
Suresh age is 25
Sathish age is 30

In [ ]:
d1={"Ramesh":20,"Suresh":25,"Sathish":30}

for i in d1:
    print(i)   # Only keys
    
    
for i in d1:
    print(i,d1[i])   # keys and values

In [25]:
d1,l1,s1={},[],''
s1=s1+'a'  # ''+'a'
s1=s1+'b'
s1=s1+'c'
s1

'abc'

In [28]:
l1=[]
l1.append(10)
l1.append(20)
l1

[10, 20]

In [32]:
d1={}
d1['even']=[20,30,40]
d1['odd']=[31,33]
d1

{'even': [20, 30, 40], 'odd': [31, 33]}

In [31]:
d1={}
name=input("enter the name:")
city=input("enter the city")
age=eval(input("enter the age"))
d1['NAME']=name
d1['CITY']=city
d1['AGE']=age
d1

enter the name:python
enter the cityHyderabad
enter the age10

{'NAME': 'python', 'CITY': 'Hyderabad', 'AGE': 10}

In [ ]:
# WAP ask the user generate 10 random numbers
# Find the even number and odd number
# output:
#{'Even':[20,30,40],'Odd':[35,45]}
# step-1: import random
# step-2: even_list,odd_list=[],[]
# step-3: for loop 10 times
# step-4:    num=generate random number 10,100
# step-5:    if <condition>:
# step-6:        append the values in eve
# step-7:   else:
# step-8:        append the values in odd list
# step-9: create the dictionary

In [33]:
import random
even_list,odd_list,d1=[],[],{}

for i in range(10):
    num=random.randint(10,100)
    if num%2==0:
        even_list.append(num)
    else:
        odd_list.append(num)
        
d1['Even']=even_list
d1['Odd']=odd_list
d1

{'Even': [38, 52], 'Odd': [81, 95, 31, 23, 27, 57, 43, 33]}

In [43]:
# word frequency
s1='hello how how are you, hello how im good, hello how what are you doing'
# {'hello':3,'how':4,......}
# split the data
l1=s1.split()  # list of words
l2=[]
d1={}
for i in l1:  # iterator through list
    if i not in l2:
        d1[i]=l1.count(i)  # key=i   value= l1.count(i)
        l2.append(i)
        
d1

{'hello': 3,
 'how': 4,
 'are': 2,
 'you,': 1,
 'im': 1,
 'good,': 1,
 'what': 1,
 'you': 1,
 'doing': 1}

In [42]:
d1={}
d1['hello']=3
d1[i]=l1.count(i)

{'hello': 3}

In [46]:
d1={'Fruites':['Apple','Banana']}
# Retrive Banana
d1['Fruites'][0],d1['Fruites'][1]

('Apple', 'Banana')

In [115]:
d1={'Fruites':[{'Apple':50},{'Banana':20}]}
len(d1)
d1['Fruites']  # List
d1['Fruites'][1] # dict
d1['Fruites'][1]['Banana']

20

In [58]:
d1={'Fruites':[{'Apple':[50,150,300]},{'Banana':20}]}
d1['Fruites'][0]['Apple'][2]

300

In [67]:
d1={'Fruites':
    [{'Apple':[{50:'Normal',
                150:'Average',
                300:'Good'}]},
     {'Banana':20}]}
d1['Fruites'][0]['Apple'][0][150]

'Average'

In [86]:
d1={'Fruites':
    [{'Apple':[{50:
                [
                    {'Normal':[100,300,400]
                    }
                ]
               }
              ]
     }
    ]
   }
len(d1['Fruites'])
len(d1['Fruites'][0])
len(d1['Fruites'][0]['Apple'])
len(d1['Fruites'][0]['Apple'][0])
d1['Fruites'][0]['Apple'][0][50][0]['Normal'][2]

400

In [87]:
len(d1)

1

In [94]:
len(d1['Fruites'])  # 1 ele in list  index=0
len(d1['Fruites'][0])
d1['Fruites'][0]['Apple']

[{50: [{'Normal': [100, 300, 400]}]}]

$Methods$

In [95]:
dir({})  # dir([])  dir('') dir(())

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values'

$keys$-$values$-$items$

In [96]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d1

{'Ramesh': 20, 'Suresh': 25, 'Piyush': 27}

In [97]:
d1.keys()

dict_keys(['Ramesh', 'Suresh', 'Piyush'])

In [98]:
d1.values()

dict_values([20, 25, 27])

In [99]:
d1.items()

dict_items([('Ramesh', 20), ('Suresh', 25), ('Piyush', 27)])

In [103]:
d1.keys() # to check the type of output
type(d1.keys()) # dict_keys
# so convert dict_keys type to list type

dict_keys

In [108]:
list(d1.keys())

['Ramesh', 'Suresh', 'Piyush']

In [107]:
list(d1.keys())[0].lower()

'ramesh'

In [ ]:
clear
copy
get
pop
popitem

In [ ]:
list1.clear()
list1

# Intialise the list  l1
# l2=l1.copy()
# l1.clear()
# print(l1),print(l2)
l1=['A','B','C']
l2=l1.copy()
l1.clear()
l1,l

In [110]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d1.clear()
d1

{}

In [111]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d2=d1.copy()
d1.clear()
d2,d1

({'Ramesh': 20, 'Suresh': 25, 'Piyush': 27}, {})

In [1]:
dir({})

['__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__getstate__',
 '__gt__',
 '__hash__',
 '__init__',
 '__init_subclass__',
 '__ior__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__ne__',
 '__new__',
 '__or__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__ror__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'clear',
 'copy',
 'fromkeys',
 'get',
 'items',
 'keys',
 'pop',
 'popitem',
 'setdefault',
 'update',
 'values']

In [ ]:
pop
popitem
fromkeys
setdefault
update

In [4]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d1.pop('Ramesh')   # key   return values
d1

{'Suresh': 25, 'Piyush': 27}

In [6]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d1.popitem()  # LIFO (key,value)
d1

{'Ramesh': 20, 'Suresh': 25}

$get$

In [7]:
d1={'Ramesh':20,'Suresh':25,'Piyush':27}
d1.get('Ramesh')

20

In [8]:
d1['Ramesh']  # By reference as a key you an get the value

20

$update$

In [9]:
d1={'Ramesh':20}
d2={'Suresh':30}
d1.update(d2)
d1

{'Ramesh': 20, 'Suresh': 30}

In [10]:
d1={'Ramesh':20}
d2={'Suresh':30}
d2.update(d1)
d2

{'Suresh': 30, 'Ramesh': 20}