In [ ]:
strings='Rashidh'
list=['Rashidh']
tuple= ('Rashidh')
set= {'Rashidh'}

In [2]:
l=[1,2,3]
l[0]=100
l

[100, 2, 3]

In [4]:
t=(1,2,3)
t[0]=100

TypeError: 'tuple' object does not support item assignment

In [6]:
Names= ['Ramesh','Suresh','Mahesh']
Age=[21,22,23]
# Ramesh age is 21
# Suresh age is 22
for i in range(len(Names)):
    print(f"{Names[i]} has age {Age[i]}")

Ramesh has age 21
Suresh has age 22
Mahesh has age 23

**zip**

In [7]:
zip(Names,Age)

In [8]:
list(zip(Names,Age))

[('Ramesh', 21), ('Suresh', 22), ('Mahesh', 23)]

In [9]:
for i in zip(Names,Age):
    print(i)

('Ramesh', 21)
('Suresh', 22)
('Mahesh', 23)

In [10]:
a=10,20
a

(10, 20)

In [ ]:
a,b=10,20

In [11]:
for i,j in zip(Names,Age):
    print(f"the {i} age is {j}")

the Ramesh age is 21
the Suresh age is 22
the Mahesh age is 23

In [ ]:
# Ramesh ==== 21
# Suresh === 22
# Mahesh === 23

**Dictionary**

- Dictionary represnts with curly braces

- Dictionay has key: value pair

- {key:value}

In [12]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23}
d1

{'Ramesh': 21, 'Suresh': 22, 'Mahesh': 23}

In [13]:
type(d1)

dict

In [14]:
d2={'Ramesh':'21','Suresh':'22','Mahesh':'23'}
d2

{'Ramesh': '21', 'Suresh': '22', 'Mahesh': '23'}

In [15]:
d3={21:'Ramesh'}
d3

{21: 'Ramesh'}

In [16]:
d4={'Ramesh':21,'Ramesh':25}
d4 # latest value

{'Ramesh': 25}

In [17]:
d5={'Ramesh':21,'Suresh':21}
d5 # value can be duplicate
# keys can not be duplicate
# keys are important

{'Ramesh': 21, 'Suresh': 21}

In [18]:
d6={21:'Ramesh',21:'Suresh'}
d6
# keys are impoartnt
# duplicate keys are not allowed

{21: 'Suresh'}

In [19]:
d7={'int':10,'float':10.5,'str':'str','boolea':True}
d7

{'int': 10, 'float': 10.5, 'str': 'str', 'boolea': True}

In [20]:
d8={'list':[1,2,3]}
d8

{'list': [1, 2, 3]}

In [21]:
d9={[1,2,3]:'list'}
d9

TypeError: unhashable type: 'list'

In [22]:
d10={'tuple':(1,2,3)}
d10

{'tuple': (1, 2, 3)}

In [23]:
d11={(1,2,3):'tuple'}
d11

{(1, 2, 3): 'tuple'}

In [ ]:
# keys are impoartnt
list mutable
tuple immutable
Ramesh ====

In [ ]:
d1={'Ramesh':21,'Suresh':22,'Mahesh':23} # w
d2={'Ramesh':'21','Suresh':'22','Mahesh':'23'} # w
d3={21:'Ramesh'} # w
d4={'Ramesh':21,'Ramesh':25} # w  keys
d5={'Ramesh':21,'Suresh':21} # w
d6={21:'Ramesh',21:'Suresh'} # w
d7={'int':10,'float':10.5,'str':'str','boolea':True} # w
d8={'list':[1,2,3]} # w
d9={[1,2,3]:'list'} # f
d10={'tuple':(1,2,3)} # w
d11={(1,2,3):'tuple'} # w
d12={[1,2,3]:[1,2,3]}
d13={(1,2,3):(1,2,3)}
d14={'Name':{'Ramesh':25}}
d15={{'Ramesh':25}:'Name'} # w

In [ ]:
len
min
max
sorted
reversed